@model ProjetoFundacaoCrianca.Models.Encaminhamento

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Encaminhamento</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="entidadeID" class="control-label"></label>
                <select asp-for="entidadeID" class ="form-control" asp-items="ViewBag.entidadeID"></select>
            </div>
            <div class="form-group">
                <label asp-for="assistentesocialID" class="control-label"></label>
                <select asp-for="assistentesocialID" class ="form-control" asp-items="ViewBag.assistentesocialID"></select>
            </div>
            <div class="form-group">
                <label asp-for="alunoID" class="control-label"></label>
                <select asp-for="alunoID" class ="form-control" asp-items="ViewBag.alunoID"></select>
            </div>
            <div class="form-group">
                <label asp-for="motivo" class="control-label"></label>
                <input asp-for="motivo" class="form-control" />
                <span asp-validation-for="motivo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DatadeEncaminhamento" class="control-label"></label>
                <input asp-for="DatadeEncaminhamento" class="form-control" />
                <span asp-validation-for="DatadeEncaminhamento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
